<footer>
  <div class="main_footer">
    <div class="missout_section">
      <h2 class="middle_heads_light">Connect With Us</h2>
      <!-- <div class="information1"> -->
        <div class="cnctwithus">
          <i class="fa-solid fa-envelope" style="color: #4dc3ff;"></i>
          <p>inspiringgo@gmail.com</p>
        </div >
        <div class="cnctwithus">
          <i class="fa-solid fa-location-dot" style="color: #4dc3ff;"></i>
          <p>InspiringGo, SriCity</p>
        </div>
        <div class="cnctwithus"> 
          <i class="fa-solid fa-phone" style="color: #4dc3ff;"></i>
          <p>9533037175</p>
        </div>
      <!-- </div> -->

    </div>
   <div class="link_section">
    <div class="link_top">
      <div class="company_footer">
        <h2><a href="/UnderConstruction">Company</a></h2>
        <a href="/AboutUs">About Us</a>
        <a href="/FAQ">FAQs</a>
      </div>
      <div class="cservice_footer">
        <h2><a href="/services">Our Services</a></h2>
      </div>
    </div>
    <div class="link_bottom">
     <div class="social_media">
      <a href="#"> <img src="/resources/twitter_icon.svg" alt="twitter"></a>
     <a href="#"> <img src="/resources/linkedin_icon.svg" alt="LinkedIn"></a>
      <a href="#"><img src="/resources/instagram_icon.svg" alt="instagram"></a>
      <a href="#"><img src="/resources/facebook_icon.svg" alt="facebook"></a>
     </div>
    </div>
   </div>
  </div>
  <div class="copywrite">
    <p>© 2022 Inspiring Go</p>
  </div>
 </footer>