<div class="navbar">
  <div class="navbar-overlay" onclick="toggleMenuOpen()"></div>
  <button type="button" class="navbar-burger" onclick="toggleMenuOpen()">
    <i class="fa-solid fa-bars" style="font-size: 1.7rem"></i>
  </button>

  <h1 class="navbar-title"><a href="/">INSPIRING GO</a></h1>
  <nav class="navbar-menu">
    <a href="/tutorRegister">Become Tutor</a>
    <a href="/UnderConstruction" class="active">Company</a>
    <a href="/AboutUs">About Us</a>
    <a
      href="/Login"
      id="register"
      style="display: flex; align-items: center; justify-content: center"
      >Login</a
    >
  </nav>
</div>
