
    <div class="navigation">
        <ul>
            <li>
                <a>
                    <span class="icon">
                        <i class="fa-solid fa-house"></i>
                    </span>
                </a>
            </li>

            <li>
                <a href="/tutorLanding">
                    <span class="icon">
                        <i class="fa-solid fa-clipboard"></i>
                    </span>
                    <span class="title">My Profile</span>
                </a>
            </li>

            <li>
                <a href="/tutorLanding/myCourses">
                    <span class="icon">
                        <i class="fa-solid fa-graduation-cap"></i>
                    </span>
                    <span class="title">My Courses</span>
                </a>
            </li>

            <li>
                <a href="/tutorLanding/studentsEnrolled">
                    <span class="icon">
                        <i class="fa-solid fa-user-tie"></i>
                    </span>
                    <span class="title">Students</span>
                </a>
            </li>

            <li>
                <a href="/tutorLanding/postCourse">
                    <span class="icon">
                        <i class="fa-solid fa-book"></i>
                    </span>
                    <span class="title">Post Course </span>
                </a>
            </li>
            <li>
                <a href="/Logout">
                    <span class="icon">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </span>
                    <span class="title">Sign Out</span>
                </a>
            </li>
        </ul>
    </div>
