<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About | Us </title>

  <link rel="stylesheet" href="/css/homePage_nav.css">
  <link rel="shortcut icon" type="image/jpg" href="/resources/Vista Logos/logo-svg.svg"/>
  <link rel="stylesheet" href="/css/about_us.css">
  <link rel="stylesheet" href="/css/footer_styles.css">
  <style>
  body{

    background-color: #ffffff;
     padding: 0; 
     font-family: "UBUNTU", sans-serif;
    
    }
    </style>
</head>
<body>
  <%- include('partials/navbar'); -%>

<div class="aboutus">
  <h1> About Inspirng Go </h1>
  <p>  <span class="symbol">&#9755; 
    </span>Your success is our top  priority   <span class="symbol">&#9754;
    </span> </p>
  
  </div>


  <div style="background-image: url('resources/backgrounddiv.jpg'); margin: 14px; border-radius: 20px;">
 
<div class="headingstory">
   
  <div>
    <h2 style="text-align:justify; color: #0a0a5a; font-size: 50px; padding-left: 6%; padding-top: 6%;  ">  Our Story</h2> 
   
  </div>


   <p>
    
    Welcome to Inspiringo! We are a leading consultancy company dedicated to helping students reach their academic and professional goals. Our team of experienced tutors specialize in providing top-notch tutoring and coaching services for competitive exams.

    At Inspiringo, we understand the importance of preparing for competitive exams and have developed a comprehensive tutoring and coaching program to help students succeed. Our tutors are highly knowledgeable and experienced in the areas of math, science, English, and social studies, and they will work with you to develop an individualized plan to help you reach your goals.
    
    We also offer a variety of other services, including essay writing and career counseling. Our tutors are dedicated to helping students achieve their dreams and will work with you to identify your strengths and weaknesses, develop strategies for success, and provide necessary guidance and support along the way.
    
    We are committed to delivering the highest quality of service and we strive to make our tutoring experience as enjoyable and beneficial as possible. Our team is here to help you succeed and we are confident that you will find our services to be valuable and effective. Thank you for choosing Inspiringo for your tutoring needs.
    
     </p>

  
   </div>



  
   <div class="storycard-container" >

    <div class="storycard" style="background-color:#C9EEFF ;">
      <img src="/resources/work.png" alt="Card Image">
     
      <P> Best Work Efforts </p>
    </div>
    
     <div class="storycard" style="background-color: #efe92d;">
      <img src="/resources/tutor.png" alt="Card Image">
      
      <p> providing Best Tutors </p>
    </div>
    
    <div class="storycard" style="background-color: aqua;">
      <img src="/resources/tutor.png" alt="Card Image">
      
      <p> 25+ years experience </p>
    </div>
    
    <div class="storycard" style="background-color:#00AFBC;"> 
      <img src="/resources/educator.png" alt="Card Image">
      
      <p>Best Place to Newbies </p>
    </div>
    
  </div>

</div>


<div style="background-image: url('resources/backgrounddiv.jpg'); margin: 14px;
border-radius: 20px;" >

  <div>

  <h2 style="color:#0a0a5a; text-align: center; font-size:50px; margin: 80px 0px 40px 0px; padding-top: 3%; ">What makes us different</h2>

</div>

  <div class="differnt-container">

    
    <section class="difcard">

      <div class="difimg">
        <img  class="difimg" src="/resources/Unique Pre-selection.jpg" alt="">
      </div>
      
        <div class="difcontent">
          <h3>Unique Pre-selection</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor nunc est, sit amet auctor lorem ultricies eu. Morbi quis pharetra lacus.</p>
          <a href="#">Learn More</a>
        </div>
        
      </section>
      
      
      <section class="difcard">
        <div class="difimg">
          <img  class="difimg" src="/resources/10years.jpg" alt="">
      </div>
        <div class="difcontent">
          <h3> Best Place to Newbies </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor nunc est, sit amet auctor lorem ultricies eu. Morbi quis pharetra lacus.</p>
          <a href="#">Learn More</a>
        </div>
       
      </section>

      <section class="difcard">
        <div class="difcontent">
          <h3>Tutor </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor nunc est, sit amet auctor lorem ultricies eu. Morbi quis pharetra lacus.</p>
          <a href="#">Learn More</a>
        </div>
        <div class="difimg">
            <img  class="difimg" src="/resources/tutor.jpg" alt="">
        </div>
      </section>

      <section class="difcard">
        <div class="difcontent">
          <h3>Placement</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor nunc est, sit amet auctor lorem ultricies eu. Morbi quis pharetra lacus.</p>
          <a href="#">Learn More</a>
        </div>
        <div class="difimg">
          <img src="/resources/placement.jpg" alt="">
        </div>
      </section>
      
    </div>

    </div>



<!-- Leader ship container -->
<%- include('partials/footer'); -%>
</body>
</html>