
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/homepage_styles.css">
    <style>

        @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

        body{
            
            font-family: 'Ubuntu',sans-serif;
           
        }
        .container{
            background-color:rgb(180, 180, 180);
            margin:auto; 
            width: 99.5%;
            height: 100vh;
            display:flex;
            justify-content: center;
        }

        h1{
            margin: 0;
            font-weight: 70;
        }

        h2{
            font-weight: 70;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="content">
            <img src="/resources/under-construction-animate.svg" alt="UnderConstruction"
            width="900px" height="500px">
            <h1 style="text-align: center;">Under Construction.....</h1>
            <h2 style="text-align: center;">Will come back soon</h2>
        </div>   
    </div>
</body>
</html>