<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/homepage_styles.css">
    <link rel="stylesheet" href="../css/homePage_nav.css">
	<link rel="stylesheet" href="../css/carouselstyles.css">
<link rel="stylesheet" href="../css/res1.css">
<link rel="stylesheet" href="../css/res2.css">
<link rel="stylesheet" href="../css/res3.css">
<link rel="stylesheet" href="../css/res4.css">
<link rel="stylesheet" href="../css/oppcards_res1.css">
<link rel="stylesheet" href="../css/oppcards_res2.css">
<link rel="stylesheet" href="../css/oppcards_res3.css">
<link rel="stylesheet" href="../css/footer_styles.css">
<title>Home-Page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
    rel="stylesheet"/>
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/21198450f8.js" crossorigin="anonymous"></script>
</head>

<body>
   
<%- include('partials/navbar'); -%>

  <div class="slider">
    <div class="slideshow">
          <img class="carousel-img" src="/resources/stock-photo-paperwork.jpeg" alt="slide1">

          <img class="carousel-img" src="/resources/groupindifftables.jpg" alt="slide2" >

          <img class="carousel-img" src="/resources/group_discussing.jpg" alt="slide3" >

          <img class="carousel-img" src="/resources/stock-photo-business-coaching.jpeg" alt="slide4">

          <img class="carousel-img" src="/resources/stock-photo-young-designers-working-with-laptop.jpeg" alt="slide5">

      </div>
    </div>
  </div>
  
  <section style=" background-color: rgba(255, 255, 255, 0.7);width: 98%;margin: auto;border-radius:20px;">
    <h2 class="middle_heads_dark" id="roles">Roles For You</h2> 
    <div class="centerpara">
      <p><span style="color:rgb(250, 196, 60)">Inspiring Go</span> is an innovative web-based company that is dedicated to connecting students with qualified tutors and job seekers with fulfilling careers. With a mission to make education and career advancement accessible to everyone, <span style="color:rgb(250, 196, 60)">Inspiring Go</span> has created a platform that simplifies the process of finding tutors and jobs.
        By providing quality tutors and job opportunities, they empower individuals to achieve their goals and improve their lives
      </p>
    </div>
    <div class="opptrs4u">
      <div class="oppcard">       
          <img  class="oppcardimg" src="/resources/jobseeker_womensmile.jpg" alt="JobSeeker">
        <div class="cardcatg"><h2>JobSeeker</h2></div>
        <p>Are you jobseeker who's unsure about which company to join or how many vacancies are available? Join us as Jobseeker,Our platform offers up-to-date job listings from a variety of industries.We believe that every jobseeker deserves access to the info they need to make career decisions.</p>
         <a class="oppcardbtn" href="/jobseekerRegister">Join Now</a>
      </div>
      <div class="oppcard" >
        <img class="oppcardimg" src="/resources/student_mansmile.jpg" alt="Student">
        <div class="cardcatg"><h2>Student</h2></div>
        <p>Are you a student who's struggling to find a tutor or unsure about how much they charge?.Our platform offers tutors from different fields of study,you can search for tutors based on specific preferences.Our website provides detailed information on each tutor's qualifications, experience, and fees. You can also read reviews from other students.</p>
        <a class="oppcardbtn" href="/studentRegister">Join Now</a>
      </div>
      <div class="oppcard">
        <img class="oppcardimg" src="/resources/tutor_discussing.jpg" alt="Tutor">
        <div class="cardcatg"><h2>Tutor</h2></div>
        <p>Your expertise and domain knowledge could be just what students need to achieve their academic goals. We invite you to seize the opportunity to share what you know and join our team of dedicated tutors.Join us today and help students reach new heights of academic success.</p>
        <a class="oppcardbtn" href="/tutorRegister">Get Oppurtunity to Teach Here</a>
      </div>
      <div class="oppcard">
        <img class="oppcardimg" src="/resources/companydealing.jpg" alt="CompanyDealer">
        <div class="cardcatg"><h2>Company Ally</h2></div>
        <p>We believe that our collaboration could be mutually beneficial for both parties. To provide you with detailed information about our company, vacancies, stipends,and more, we encourage you to join our website.We believe that transparency is key to building a successful partnership.</p>    
          <a class="oppcardbtn" href="/UnderConstruction">Join us as Company Ally</a>
      </div>
      <div class="oppcard">
        <img class="oppcardimg" src="/resources/mentorteamgrouppeople.jpg" alt="MentorTeam">
        <div class="cardcatg"><h2>Mentor Team</h2></div>
        <p>As a mentor with our team, you will have the opportunity to guide and support students on their educational journey.With your help, we can make our service more reachable and helpful to students from all walks of life.So why wait? Join our mentor team today and make a real difference in the lives of students.
        </p>
        <a class="oppcardbtn" href="mentorRegister">Apply for Mentor Team</a>
      </div>
    </div>
  </section>

 
  <section style=" background-color: rgba(255, 255, 255, 0.7);width: 98%;margin: auto;border-radius:20px;">
    <h2 class="middle_heads_dark">Our Services</h2>
  <div id="our_services">
    <div class="our_services_child">
        <div class="os_svgs">
          <img src="/resources/male_mentoring_female_animated.svg">
        </div>
        <div class="os_tagline">
          <h2 style="text-align:center;margin:0">Skilled Tutors</h2>
          <p>Provide Skilled Tutors as they play a valuable role in helping students achieve their goals and succeed in their area of interest.we can also analyse a tutor by his reviews on effectiveness by other students and rating.</p>
        </div>
    </div>
    <div class="our_services_child">
      <div class="os_svgs">
        <img src="/resources/giving_student_oppurtunity_toview_profiles.svg" >
      </div>
      <div class="os_tagline">
        <h2 style="text-align:center;margin:0">Privacy & Security</h2>
       <p>We suggest strong passwords for user accounts to prevent unauthorized access to client data.Do not share or disclose client data without their explicit consent, except where required by law or to protect the safety of others.</p>
      </div>
      
    </div>
    <div class="our_services_child">
      <div class="os_svgs"><img src="/resources/searching_tutor_company.svg" alt="">
      </div>
      <div class="os_tagline">
        <h2 style="text-align:center;margin:0">Search Near By</h2>
        <p>Now a Student can search nearby tutors available near your location.Student can meet his tutor in-person according to their facility.</p>
      </div>
    </div>
    <div class="our_services_child">
      <div class="os_svgs"> <img src="/resources/mentor_female_male_discuss.svg" alt="">
      </div>
     
      <div class="os_tagline">
        <h2 style="text-align:center;margin:0">Verified Company Details</h2>
        <p>We ensure that the details provided to Jobseekers about the jobs/internships is eligible.we provide details along with stipend that will be provided and perks.</p></div>
      
    </div>
  
  <div class="our_services_child">
    <div class="os_svgs"> 
      <img src="/resources/discussion_mentor_team_animation.svg" alt="">
    </div>
    <div class="os_tagline">
      <h2 style="text-align:center;margin:0">Mentor Support</h2> 
      <p>We have a  Mentor team that can provide users with access to experienced professionals who can offer personalized guidance, suggestions inorder to achieve their goals.</p>
    </div>
  </div>
  <!-- <div class="our_services_child">
    <div class="os_svgs"> 
      <img src="/resources/discussion_mentor_team_animation.svg" alt="">
    </div>
    <div class="os_tagline">
      <h2 style="text-align:center;margin:0">Skilled Tutors</h2> 
       <p>6.Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos adipisci, ea aliquid neque quam ullam excepturi debitis? Non sunt nulla alias est possimus qui, id error, dolorum, officia sit fuga?</p>
    </div>
  
  </div> -->
</div>
  </section>

  
  
  
  <section class="last_info" style=" background-color: rgba(255, 255, 255, 0.7);width: 98%;margin: auto;border-radius:20px;">

    <h2 class="middle_heads_dark" >Our Testimonials</h2>
    <div class="testimonials">
      <button class="prev-button">&#10094;</button>

 <div class="testimonial_card">
  <div class="review">
    <p>My tutor was not only knowledgeable but also patient and encouraging, which helped me to stay motivated and focused. With their help, I was able to improve my grades and achieve my academic goals. I also appreciated the flexibility of their scheduling system, which allowed me to easily book sessions at times that worked for me.</p>
  </div>
  <div class="person">
    <h3>-- Shekar Guptha</h3>
    <h5>Web Application Developer </h5>
   </div>
 </div>

 <div class="testimonial_card">
  <div class="review">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem commodi nulla est. Eos, illo voluptates. Explicabo, enim aperiam. Sit culpa non incidunt eos commodi vitae minima maxime animi repellat atque.</p>
  </div>
  <div class="person">
    <h3>-- Roshini </h3>
    <h5> Working at Samsung  </h5>
  </div>
 </div>

 <div class="testimonial_card">
  <div class="review">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem commodi nulla est. Eos, illo voluptates. Explicabo, enim aperiam. Sit culpa non incidunt eos commodi vitae minima maxime animi repellat atque.</p>
  </div>
  <div class="person">
    <h3>-- Srinath varshith </h3>
    <h5> Tutoring Data Analytics  </h5>
  </div>
 </div>

 <div class="testimonial_card">
  <div class="review">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem commodi nulla est. Eos, illo voluptates. Explicabo, enim aperiam. Sit culpa non incidunt eos commodi vitae minima maxime animi repellat atque.</p>
  </div>
  <div class="person">
    <h3>-- Venu Madhav </h3>
    <h5> Working at Adobe  </h5>
  </div>
 </div>

 <div class="testimonial_card">
  <div class="review">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem commodi nulla est. Eos, illo voluptates. Explicabo, enim aperiam. Sit culpa non incidunt eos commodi vitae minima maxime animi repellat atque.</p>
  </div>
  <div class="person">
    <h3>-- Sagar Verma </h3>
    <h5> App Developer  </h5>
  </div>
 </div>

 <div class="testimonial_card">
  <div class="review">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem commodi nulla est. Eos, illo voluptates. Explicabo, enim aperiam. Sit culpa non incidunt eos commodi vitae minima maxime animi repellat atque.</p>
  </div>
  <div class="person">
    <h3>-- Roshini </h3>
    <h5> Working at Samsung  </h5>
  </div>
 </div>


 <button class="next-button">&#10095;</button>
    </div>

</section>
 <%- include('partials/footer'); -%>
  <script src="../js/homePage.js"></script>
    </body>
</html>
