<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="shortcut icon" type="image/jpg" href="/resources/Vista Logos/logo-svg.svg"/>
    <!-- <link rel="stylesheet" href="../css/homePage_nav.css" />
    <link rel="stylesheet" href="../css/footer_styles.css" />
    <link rel="stylesheet" href="../css/res3.css">
    <link rel="stylesheet" href="css/res4.css"> -->
    <script src="https://kit.fontawesome.com/21198450f8.js" crossorigin="anonymous"></script>
    <title>Login | Admin</title>
    <script>
       
    </script>
</head>

<body>

<br>
<div class="container_full">
    <div class="container">
        <div id="image-container">
            <img class="image" src="/resources/admin-animate.svg">
        </div>
        <div class="login-card_container">
            <div class="login_card">
                <div class="login_card_header"></div>
                    <h1>Admin</h1>
                    <div id="p"></div>
                <form method="post" class="login_card_form">
                    <div class="form_item">
                        <input name="username" type="text" placeholder="Enter your Username" required autofocus style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: large;">
                    </div>
                    <div class="form_item">
                        <input name="password" type="password" placeholder="Password" required autofocus style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: large;">
                    </div>
                    <div class="form_item_other">
                    </div>
                    <button type="submit">Sign in</button>
                </form>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>