<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OurServices</title>
    <link rel="stylesheet" href="/css/homepage_styles.css">
    <link rel="stylesheet" href="/css/homePage_nav.css">
    <link rel="stylesheet" href="/css/footer_styles.css">
    <link rel="stylesheet" href="/css/res1.css">
    <link rel="stylesheet" href="/css/res2.css">
    <link rel="stylesheet" href="/css/res3.css">
    <link rel="stylesheet" href="/css/res4.css">
    <link rel="shortcut icon" type="image/jpg" href="/resources/Vista Logos/logo-svg.svg"/>




    <script src="https://kit.fontawesome.com/21198450f8.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include("partials/navbar"); -%>
    <section style=" background-color: rgba(255, 255, 255, 0.7);width: 98%;margin: auto;border-radius:20px;">
        <h2 class="middle_heads_dark">Our Services</h2>
      <div id="our_services">
        <div class="our_services_child">
            <div class="os_svgs">
              <img src="/resources/male_mentoring_female_animated.svg">
            </div>
            <div class="os_tagline">
              <h2 style="text-align:center;margin:0">Skilled Tutors</h2>
              <p>Provide Skilled Tutors as they play a valuable role in helping students achieve their goals and succeed in their area of interest.we can also analyse a tutor by his reviews on effectiveness by other students and rating.</p>
            </div>
        </div>
        <div class="our_services_child">
          <div class="os_svgs">
            <img src="/resources/giving_student_oppurtunity_toview_profiles.svg" >
          </div>
          <div class="os_tagline">
            <h2 style="text-align:center;margin:0">Privacy & Security</h2>
           <p>We suggest strong passwords for user accounts to prevent unauthorized access to client data.Do not share or disclose client data without their explicit consent, except where required by law or to protect the safety of others.</p>
          </div>
          
        </div>
        <div class="our_services_child">
          <div class="os_svgs"><img src="/resources/searching_tutor_company.svg" alt="">
          </div>
          <div class="os_tagline">
            <h2 style="text-align:center;margin:0">Search Near By</h2>
            <p>Now a Student can search nearby tutors available near your location.Student can meet his tutor in-person according to their facility.</p>
          </div>
        </div>
        <div class="our_services_child">
          <div class="os_svgs"> <img src="/resources/mentor_female_male_discuss.svg" alt="">
          </div>
         
          <div class="os_tagline">
            <h2 style="text-align:center;margin:0">Verified Company Details</h2>
            <p>We ensure that the details provided to Jobseekers about the jobs/internships is eligible.we provide details along with stipend that will be provided and perks.</p></div>
          
        </div>
      
      <div class="our_services_child">
        <div class="os_svgs"> 
          <img src="/resources/discussion_mentor_team_animation.svg" alt="">
        </div>
        <div class="os_tagline">
          <h2 style="text-align:center;margin:0">Mentor Support</h2> 
          <p>We have a  Mentor team that can provide users with access to experienced professionals who can offer personalized guidance, suggestions inorder to achieve their goals.</p>
        </div>
      </div>
      <!-- <div class="our_services_child">
        <div class="os_svgs"> 
          <img src="/resources/discussion_mentor_team_animation.svg" alt="">
        </div>
        <div class="os_tagline">
          <h2 style="text-align:center;margin:0">Skilled Tutors</h2> 
           <p>6.Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos adipisci, ea aliquid neque quam ullam excepturi debitis? Non sunt nulla alias est possimus qui, id error, dolorum, officia sit fuga?</p>
        </div>
      
      </div> -->
    </div>
      </section>
    <%- include("partials/footer"); %>
      <script src="../js/homePage.js"></script>
   
</body>
</html>