<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">


<title>Student | Profile</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../css/homePage_nav.css" />
    <link rel="stylesheet" href="../css/footer_styles.css" />
    <script src="https://kit.fontawesome.com/21198450f8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/res3.css">
    <link rel="stylesheet" href="../css/res4.css">

<style type="text/css">
    body{
        margin: 0;
background-color:#cadbff;
color:#78797c;
}
.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}
    </style>
</head>
<body>

    <%- include('partials/navbar_Student') %>
<div class="container-xl px-4 mt-4">


<div class="row">
<div class="col-xl-4">

<div class="card mb-4 mb-xl-0">
<div class="card-header">Profile Picture</div>
<div class="card-body text-center">

<img class="img-account-profile rounded-circle mb-2" src="../resources/profile.png" alt="">

<div style="padding-top: 8px;"></div>

<button class="btn btn-primary" type="button">Upload new image</button>
</div>
</div>
</div>
<div class="col-xl-8">

<div class="card mb-4">
<div class="card-header">Account Details  -  STUDENT PROFILE</div>
<div class="card-body">
<form>

<div class="mb-3">
<label class="small mb-1" for="inputUsername">Username</label>
<input class="form-control" id="inputUsername" type="text" placeholder="Enter your username" value="">
 </div>

<div class="row gx-3 mb-3">

<div class="col-md-4">
<label class="small mb-1" for="inputFirstName">First name</label>
<input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" value="Hello" disabled style="background-color:hsl(216, 100%, 75%); color:white">
</div>

<div class="col-md-4">
<label class="small mb-1" for="inputLastName">Last name</label>
<input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" value="">
</div>

<div class="col-md-4">
<label class="small mb-1" for="inputSurname">Surname</label>
<input class="form-control" id="inputSurname" type="text" placeholder="Enter your surname" value="">
</div>
</div>

<div class="row gx-3 mb-3">
    <div class="col-md-4">
        <label class="small mb-1" for="inputGender">Gender</label>
        <select name="Gender" class="form-select col-md-4">
            <option selected value="-1">Select Gender</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="InputNationality">Nationality</label>
        <select name="Nationality" disabled class="form-select col-md-4">
            <option value="1">India</option>
        </select>
    </div>
</div>

<div class="row gx-3 mb-3">


<div class="col-md-12">
<label class="small mb-1" for="inputLocation">Address</label>
<input class="form-control" id="inputLocation" type="text" placeholder="Enter your location" value="">
</div>
</div>

<div class="mb-3">
<label class="small mb-1" for="inputEmailAddress">Email address</label>
<input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" value="name@example.com">
</div>

<div class="row gx-3 mb-3">

<div class="col-md-6">
<label class="small mb-1" for="inputPhone">Phone number</label>
<input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" value="">
</div>

<div class="col-md-6">
<label class="small mb-1" for="inputBirthday">Birthday</label>
<input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Enter your birthday" value="">
</div>
</div>

<button class="btn btn-primary" type="button">Save changes</button>
</form>
</div>
</div>
</div>
</div>
</div>

    <%- include('partials/footer') %>
</body>
</html>