
  .slider {
    width: 1023px;
    position: relative;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 2rem;
    aspect-ratio: 1.9;
    /* max-height:680px; */
    /* max-width:1023px;90vw is not compatible with image size */
    overflow:hidden;    
  }
  .slideshow {
    display: flex;
    /* height: inherit;
    width: inherit; */
    position: relative;
    /* float: left; */
    animation-name: slide;
    animation-duration: 15s;
    animation-timing-function:ease;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-play-state: running;
  }
  .slideshow img{
    object-fit:fill;
    width: 100%;
    float: left;
  }

  @keyframes slide {
    0%,
  10% {
    transform: translateX(0);
  }

  25%,
  35% {
    transform: translateX(-1015px);
  }

  50%,
  60% {
    transform: translateX(-2038px);
  }

  75%,
  85% {
    transform: translateX(-3060px);
  }

  100% {
    transform: translateX(-4092px);
  }
  }
  

  /* .slideshow
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  } */
  .left_right
  {
    margin: auto 5%;
  }