@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


body{
   background: #f6f6f6;
   margin: 0;
   padding: 0;
   font-family: 'Ubuntu',sans-serif;
 
}



.box{
   width: 90%;
   font-size: 20px;
   margin: auto;
   height: fit-content;
   background: #fff;
   border-radius: 7px;
   box-shadow: 1px 2px 4px rgba(0,0,0,.3);
}

.box .heading{
   background: #121294;
   border-radius: 7px 7px 0px 0px;
   padding: 10px;
   color: #fff;
   text-align: center;
}

.faqs{
   padding: 0px 20px 20px;
}

::-webkit-details-marker{
   float: right;
   margin-top: 3px;
}

details{
   background: #f6f6f6;
   padding: 10px 20px;
   border-radius: 7px;
   margin-top: 20px;
   font-family: 'Ubuntu',sans-serif;
   font-weight: 550;
   font-size: 18px;
   letter-spacing: 1px;
   cursor: pointer;
}

details summary{
   outline: none;
   font-weight: bold;
}