@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


*
{
    margin:0px;
    font-family:'Ubuntu',sans-serif;
}

body{
    background-image: url('https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?size=626&ext=jpg&uid=R97086655&semt=ais');
}

/* .search
{
    min-height: 300px;
    background-image: linear-gradient(#98DFD6,#E3ACF9);
} */

select{
    padding: 10px;
    border-radius: 50px;
    border: 2px solid black;
}


.box
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.head
{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

.s-button
{
    border: 2px solid black;
    display: flex;
    font-size: 10px;
    padding: 8px 15px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.search-row
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

.s-button:hover 
{
    background-color:deepskyblue;
    cursor: pointer;
}

select:hover
{
    cursor: pointer;
}


.search-img
{
    left: 10px;
    top: 6px;
}

.content
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 10px;
    border-left: 1px solid skyblue;
}

.row-flex
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card
{
    width:30%;
    display: flex;
    min-height:45vh;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px; 
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
}


.info
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card-name
{
    font-weight: 600;
}

.other-name
{
    font-size: 1rem;
}

.other-title
{
    font-weight: 600;
    padding-right: 15px;
}

.cards
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 60px;
    gap: 30px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.896);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); 
    /* background-color: #C9EEFF; */
}

.subject-title
{
    color:midnightblue;
    padding-right: 10px;
    font-size: 1.5rem;
}

.fee
{
    font-size: 15px;
    font-weight: 700;
}

.fee-span
{
   
    font-size: 15px;
    padding-right: 10px;
    font-weight: 600;

}

.duration
{
    font-size: 15px;
    font-weight: 700;
}

.duration-span
{
    
    font-size: 15px;
    padding-right: 10px;
    font-weight: 600;

}

.mode-span
{
    font-weight: 700;
 
    padding-right: 10px;
}

.online
{
    background-color: lightgreen;
    border-radius: 20px;
    padding: 0.1rem 0.5rem;
    color: black;
}

.In-person
{
    background-color: rgb(179, 181, 182);
    color: black;
    border-radius: 20px;
    padding: 2px 5px;
}

.contact
{
    text-align: center;
}

.contact-now{

    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: fit-content;
    font-size: 16px;
    align-items: center;
    border-radius: 10px;
    transition: 0.4s;
  }
  
  .contact-now:hover {
    scale: 1.1;
}
input{
    display: flex;
    align-items: flex-start;
    border: none;
    background-color: rgb(194, 194, 194);
    color: black;
    padding: 1rem 0.5rem;
    padding-left: calc(0.5rem*4);
    border-radius: 100px;
    width: 80%;
    margin-top: 2rem;
    margin-left:auto;
    margin-right: auto;
  }
  
 input:focus {
    background-color: rgb(255, 255, 255);
  }


  .filter {
    margin-bottom: 1rem;
    margin-left:2rem;
  }

  .filter_dropdown{


    display:flex;
  }
  



  .filter_section{

    width: 96%;
    margin: 2rem auto 0 auto;
    display: flex;
    flex-direction: column;
    gap:2rem;
    align-items: flex-start;
    background: rgba(255, 255, 255, 0.896);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); 
  }
  
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */ 
@media screen and (max-width: 50%) {
    .inputs
    {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .card
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 400px;
        min-height:40vh;
        gap: 10px;
    }

    .row-flex
    {
        display: flex;
        flex-direction: column;
    }
    
    .content
    {
        padding-top: 10px;
        border-left: none;
        border-top: 1px solid skyblue;
    }

    .content
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}