@media screen and (max-width:425px) {
    .oppcard p
    {
        height:7rem;
        font-size: 0.8rem;
    }
    .oppcardbtn
    {
        font-size: 0.7rem;
        padding: 5px 10px;
        margin: 0.3rem 0.3rem;
        position: absolute;
        right:0.5%;
        bottom:46%;
    }
    .centerpara
    {
        font-size: 0.8rem;
    }
}