body
{
    margin:0;
    padding:0;
    display: flex;
}
.entire
{
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.details
{
    height: 100vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 3px;
    position:fixed;
    align-items: center;
    margin:0;
     background: #0a0a5a;
    color: white;
    text-align: center;
    /* justify-content: center; */

}
.details img 
{
    width: 200px;
    object-fit: fill;
    aspect-ratio: 1; 
    /* if not its becoming ellipse */
    border-radius: 50%;
    margin-top: 1rem;
}
.details p:nth-child(1)
{
    font-size: 40px;
}
.details p, button{
    font-size: 20px;
    margin: 8px;
}
.btndiv
{
    display: flex;
    flex-direction: column;
}
.btn
{
    background-color: #5454a4;
    border:0px solid;
    border-radius:10px;
    padding:6px;
    color: white;
}
.btn:hover
{
    cursor: pointer;
}
.rhs_courses, .rhs_vprofile , .rhs_eprofile 
{
    width:65vw;
    position: absolute;
    right: 1rem;
    padding :0.4rem;
    background-color: #0cbaba;
    background-color: #000000;
    background-image: linear-gradient(147deg,  #0a0a5a 0%, #04619f 74%);
}

.rhs_courses
{
    background:none;
}

table {
    border-collapse: separate;
    border-spacing: 50px 30px;
    margin: auto;
    color: rgba(254, 231, 98, 0.79);
  }

.rhs_vprofile{
    height: 90vh;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
    background-color: rgba(176, 161, 161, 0.7);
    border-radius: 2%;
}

.rhs_eprofile
{
    height: 95vh;
    margin: auto;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); 

}
.rhs_eprofile input
{
    border: none;
    background: rgba(238, 238, 238, 0.336);
    color: black;
    padding: 1rem 0.5rem;
    padding-left: calc(0.5rem*4);
    border-radius: 100px;
    width: 70%;
}
.rhs_courses h1
{
    text-align: center;
    text-decoration:overline 2px;

}

.rhs_profile
{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.enrolled
{
    display: flex;
    gap: 8px;
    /* flex-direction: column; */
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.card_course
{
    display: flex;
    flex-direction: column;
    border : 0.5px solid;
    background-color: rgb(46, 36, 151);
    position: relative;
    border-radius: 2%;
    height: 250px;
    width: 47%;
    margin : 5px;
    box-shadow: -5px 5px 2px 1px gray;
    overflow: hidden;
}
.card_course img 
{
    object-fit:fit;
}
.trans
{
    /* background-color: rgba(0,0,0, 0.5); */
    background-color: rgba(255, 255, 255, 0.9);
    color: #0a0a5a;
    position: absolute;
    transform: translateY(105%);
    width :100%;
    /* top:0; right:0; */
}

.cardtitle
{
    text-align: center;
    font-size: 25px;
}
.card_course:hover .trans
{
    /* font-size: large; */
    transform : translateY(44%);
    transition: transform 0.3s ease ;

}
.personaldetail, .coursedetail
{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.trans h4, .coursedetail h4
{
    margin:1rem;
}
.status
{
    background-color: #0a0a5a;
    border-radius: 2px ;
    color: white   ;
    padding: 5px;     
}


 .float-label {
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    font-size: 15px;
    padding: 0 10px;
    color: #000000;
    font-weight: 500;
    pointer-events: none;
    transition: 0.15s all ease;
}
.years
{
    display: flex;
}

.box {
    margin: 5rem auto;
    padding: 1rem 1rem;
    width: 95%;
    gap:0.5rem;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255,0.18);
}
.box h2, h4
{
    margin:0.4rem;
}
.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65vw;
    gap: 1.5rem;
}
.float-group input , .select{
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
    border: #000000 solid 2px;
    margin: 0.5rem;
    color: #000000;
    transition: 0.30s all ease;
}

.dpn
{
    display: none;
}

