/* =========== Google Fonts ============ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* =============== Globals ============== */
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #0a0a5a;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered,
.navigation ul li:nth-child(4)
{
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a,
.navigation ul li:nth-child(4) a{
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon i {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background-image: url('https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?size=626&ext=jpg&uid=R97086655&semt=ais');
    background-size: contain;
    backdrop-filter: blur(10px);
  transition: 0.5s;
}

.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.header-logo{
  font-size: 2rem;
  font-weight: 600;
}

/* ============= Student ============= */
.search{
  position: relative;
  width: 50%;
}

.search input{
  width: 100%;
  padding:0.5rem;
  outline: none;
  text-align: center;
  border-radius: 2rem;
  font-weight: 500;
  font-size: 2rem;
}

.search label{
  position: absolute;
  left: 10px;
  top: 28%;
}

.jobseeker .seekers {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    background: var(--white);
    padding: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
  }

  #seekers{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #seekers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #seekers tr:nth-child(even){background-color: #f2f2f2;}
  
  #seekers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: var(--blue);
    color: white;
  }
  #seekers tr td button{
    padding: 0.8rem;
    transition: 0.5s;
    background: #ffffffe0;
    font-size: 0.9rem;
    outline: none;
  
  }
  
  #seekers tr td:last-child{
  text-align: center;
  }
  
  #seekers tr td button:hover{
    background: rgba(253, 0, 0, 0.877);
    color: var(--white);
    border-radius: 10px;
  }

/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
}

@media (max-width: 480px) {
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}
